#contact{

    .contactForm{

        form{
            display: flex;
            flex-direction: column;

            input{
                width: 30vw;
                height: 5vh;
                margin-bottom: 5px;
            }
        }
    }
}