#home{
    text-align: center;
    background-image: url(../images/homeBG.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;

    .home__cover{
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);

        .home__text{
            padding-top: 20%;
            color: white;
            position: relative;
            animation-name: introFrames;
            animation-duration: 2s;
            animation-fill-mode: forwards;
    
            h1{
                font-size: 52px;
            }
        }
    }

    
}

@keyframes introFrames {
    from{
        opacity: 0;
        top: 200px;
    }

    to{
        opacity: 1;
        top: 0px;
    }
}