#portfolio{
    background-color: #f1f2f3;

    .thumbnailArea{
        position: relative;
        padding: 20px;
        display: flex;
        background-color: white;
        animation-duration: 2s;
        animation-fill-mode: forwards;

        .thumbnail{
            width: 240px;
            height: 120px;
            margin-left: 20px;
            background-color: black;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
    
            &:hover{
                cursor: pointer;
    
                .thumbnail__title{
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
    
            .thumbnail__title{
                background-color: rgba(0, 0, 0, 0.6);
                padding: 5px 2px;
                color: white;
                bottom: 1px;
            }
        }
        @media only screen and (max-width: 760px){
            flex-direction: column;
            width: 90%;

            .thumbnail{
                margin: 10px auto;
            }
        }
    }
}

#portfolioPopup{
    z-index: 98;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .popupArea{
        background-color: white;
        height: 70%;
        width: 75%;
        margin: 5% auto;
        padding: 20px;
        display: flex;

        .popup__text{
            width: 65%;

            #popup__title{
                position: relative;
                font-size: 30px;
                background-color: #f1f2f3;
                padding: 8px;
            }

            #popup__descript{
                position: relative;
                line-height: 1.5;
                width: 90%;
                padding-left: 20px;
            }

            #popup__link{
                background-color: grey;
                text-decoration: none;
                color: white;
                padding: 5px;

                &:hover{
                    background-color: darkgrey;
                }
            }

            button{
                border: none;
                background-color: grey;
                color: white;
                padding: 5px;
                font-size: 16px;

                &:hover{
                    background-color: darkgrey;
                    cursor: pointer;
                }
            }
        }

        .startClass{
            animation-name: popupAnim;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        .popup__img{
            width: 35%;

            img{
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 960px){
            width: 90%;
            min-height: 90%;
            flex-direction: column-reverse;

            .popup__text{
                width: 100%;
            }

            .popup__img{
                width: 100%;
                max-height: 100%;
            }
        }
    }
}

@keyframes popupAnim{
    from{
        opacity: 0;
        left: 150px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes portfolioSlideIn{
    from{
        left: 500px;
    }

    to{
        left: 0px;
    }
}