#portfolio{

    .thumbnail{
        width: 150px;
        height: 100px;
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover{
            cursor: pointer;

            .thumbnail__title{
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        .thumbnail__title{
            background-color: rgba(0, 0, 0, 0.6);
            padding: 5px 2px;
            color: white;
            bottom: 1px;
        }
    }

}

#portfolioPopup{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .popupArea{
        background-color: white;
        height: 70%;
        width: 75%;
        margin: 5% auto;
        padding: 20px;
        display: flex;

        .popup__text{
            width: 65%;

            #popup__link{
                background-color: grey;
                text-decoration: none;
                color: white;
                padding: 5px;

                &:hover{
                    background-color: darkgrey;
                }
            }
        }

        .popup__img{
            width: 35%;

            img{
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 960px){
            width: 90%;
            min-height: 90%;
            flex-direction: column-reverse;

            .popup__text{
                width: 100%;
            }

            .popup__img{
                width: 100%;
                max-height: 100%;
            }
        }
    }
}