#portfolio{
    background-color: $offWhite;

    .thumbnailArea{
        position: relative;
        padding: 10vh 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        animation-duration: 2s;
        animation-fill-mode: forwards;

        .thumbnail{
            width: 30vw;
            height: 28vh;
            margin-left: 20px;
            margin-bottom: 10px;
            background-color: black;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            flex: 1 0 21%;
    
            &:hover{
                cursor: pointer;
    
                .thumbnail__title{
                    height: 20%;
                    background-color: rgba(0, 0, 0, 0.8);
                    margin-bottom: 0px;
                }

                .thumbnail__descript{
                    height: 80%;
                    display: block;
                    background-color: rgba(0, 0, 0, 0.8);
                    font-family: 'Lato', sans-serif;
                }
            }
    
            .thumbnail__title{
                background-color: rgba(0, 0, 0, 0.6);
                padding: 5px 2px;
                color: white;
                bottom: 1px;
            }

            .thumbnail__descript{
                padding: 10px;
                color: white;
                display: none;
            }
        }
        @media only screen and (max-width: 760px){
            flex-direction: column;
            width: 90%;

            .thumbnail{
                margin: 10px auto;
                height: 38vh;
            }
        }
    }
}

#portfolioPopup{
    z-index: 98;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .popupArea{
        background-color: white;
        height: 70%;
        width: 75%;
        margin: 5% auto;
        padding: 20px;
        display: flex;

        .popup__text{
            width: 65%;

            #popup__title{
                position: relative;
                font-size: 30px;
                background-color: $offWhite;
                padding: 8px;
            }

            #popup__descript{
                position: relative;
                line-height: 1.5;
                width: 90%;
                padding-left: 20px;
                font-family: 'Lato', sans-serif;
            }

            #popup__link{
                background-color: grey;
                text-decoration: none;
                color: white;
                padding: 5px;
                font-family: 'Lato', sans-serif;

                &:hover{
                    background-color: darkgrey;
                }
            }

            button{
                border: none;
                background-color: grey;
                color: white;
                padding: 5px;
                font-size: 16px;

                &:hover{
                    background-color: darkgrey;
                    cursor: pointer;
                }
            }

            .close{
                font-size: 30px;
                position: absolute;
                bottom: 22%;
                right: 14%;

                &:hover{
                    color: grey;
                    cursor: pointer;
                }

                &:active{
                    color: black;
                }

                @media only screen and (max-width: 760px){
                    bottom: 10%;
                    right: 12%;
                }
            }
        }

        .startClass{
            animation-name: popupAnim;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        .popup__img{
            width: 35%;

            img{
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 960px){
            width: 90%;
            min-height: 90%;
            flex-direction: column-reverse;

            .popup__text{
                width: 100%;
            }

            .popup__img{
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
